// PRIMER LOADING COMPONENT <HOME /> 3 PRODUCTS
.loading-parent-3-products{
    width: 100%;
    position: relative;
}
.loading-child-3-products{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #ccc;
    border-left-color: $emerald;
    left: 45%;
    animation-name: loading-3-products;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}
@keyframes loading-3-products{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
// SEGUNDO LOADING ALL PRODUCTS COMPONENT: <OneProduct />
.loading-one-product{
    width: 100%;
    position: relative;
    min-height: 100vh;
}
.loading-one-product-snniper{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 45%;
    border: 10px solid #ccc;
    border-radius: 100%;
    border-left-color: $emerald;
    animation: loading-one-product infinite linear 1s;
}
@keyframes loading-one-product {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
// BUTTON LOADING LOGIN
.loading-form-login-spinner-container{
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: $emerald;
    padding: 7px;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.loading-form-auth-login{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 45%;
    border: 5px solid #ccc;
    border-radius: 100%;
    border-left-color: $emerald;
    animation: loading-form-login 1s linear infinite;
}
@keyframes loading-form-login{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
// BUTTON FORM REGISTER
.loading-form-register-spinner-container{
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: $emerald;
    padding: 7px;
    height: 40px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.loading-form-auth-register{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 45%;
    border: 5px solid #ccc;
    border-radius: 100%;
    border-left-color: $emerald;
    animation: 1s linear infinite loading-form-register;
}

@keyframes loading-form-register {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}




