._main-header{
    width: 100%;
    height: 60px;
    background-color: $dark-bootstrap;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.principal-h1{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: color 300ms;
    &:hover{
        color: $emerald;
    }
}
//////////////////// BUTTON RESPONSIVE ///////////////////
.responsive-button-menu{
    display: none;
}
.navbar-responsive-out{
    display: none;
}
.navbar-links-out{
    display: none;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px;
}

// LINKS
.navbar-links{
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 13px 5px;
    transition: all 300ms;
    border-radius: 10px;
    &:hover{
        color: white;
        background-color: $emerald;
        padding: 13px 5px;
        border-radius: 10px;
    }
}
.navbar-links-cart{
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 13px 5px;
    transition: all 300ms;
    border-radius: 10px;
    width: 60px;
        text-align: center;
        margin: 0px;
    &:hover{
        color: white;
        background-color: $emerald;
        padding: 13px 5px;
        border-radius: 10px;
    }
}

// Container Float
.container-float{
    color: white;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    left: -2px;
}

// FLOTADO
._container-float-cart-count{
    position: absolute;
    top: -10px;
    left: 15px;
    color: white;
    width: 22px;
    height: 22px;
    font-size: 15px;
    font-family: 'Poppins';
    background-color: red;
    border-radius: 100%;
    text-align: center;
    line-height: 22px;
}

// BUTTON LOGOUT
.navbar-links-button{
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 13px 5px;
    transition: all 300ms;
    border-radius: 10px;
    background-color: $dark-bootstrap;
    border: none;
    &:hover{
        color: white;
        background-color: tomato;
        padding: 13px 5px;
        border-radius: 10px;
    }
}

// RESPONSIVE
@media screen and (max-width: 599px){
    ._main-header{
        width: 100%;
        padding: 0 20px;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;
    }
    .navbar{
        display: none;
    }
    .principal-h1{
        font-size: 18px;
    };

    // RESPONSIVE BUTTON
    .responsive-button-menu{
        display: block;
        border: 1px solid #ccc;
        color: white;
        background-color: $dark-bootstrap;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .navbar-responsive{
        width: 100%;
        background-color: $dark-bootstrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0px;
        padding: 10px 0px;
        transform: translateX(0px);
        transition: all 1s ease;
    }
    .navbar-responsive-out{
        top: 80px;
        position: absolute;
        transform: translateX(0px);
        transition: all 1s ease;
    }
    .navbar-links{
        font-size: 18px;
    }
    .navbar-links-out{
        left: -100px;
        transition: all 1s ease;
    }

}

